html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0;
    overflow: hidden;
    /*  Disable scrollbars */
    display: block;
}

#overlay {
    border-radius: 15px;
    /* Rounded corners with a 15-pixel radius */
    position: fixed;
    margin: 0;
    padding: 10px;
    /* Space inside the panel */
    top: 10px;
    left: 10px;
    background-color: rgba(211, 211, 211, 0.715);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
}

#overlay2 {
    border-radius: 15px;
    /* Rounded corners with a 15-pixel radius */
    position: fixed;
    margin: 0;
    padding: 10px;
    /* Space inside the panel */
    bottom: 10px;
    left: 10px;
    background-color: rgba(211, 211, 211, 0.715);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
}

